* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'GraphikLCG-Regular';
    src: url('./fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('./fonts/GraphikLCG-Regular.woff') format('woff'),
        url('./fonts/graphiklcg-regular-webfont.ttf') format('truetype'),
        url('./fonts/GraphikLCG-Regular.svg') format('svg');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GraphikLCG-Semibold';
    src: url('./fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('./fonts/GraphikLCG-Semibold.woff') format('woff'),
        url('./fonts/graphiklcg-semibold-webfont.ttf') format('truetype'),
        url('./fonts/GraphikLCG-Semibold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    font-family: 'GraphikLCG-Regular', sans-serif;
    font-size: 20px;
    color: #000000;
    width:100%; 
    overflow-x:hidden;
}
.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}


.header {
    padding: 31px 0px 24px 0px;
    border-bottom: 1px solid #CCCCCC;
    ;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}



.header-nav-list {
    
    flex-wrap: wrap;
}

.header-nav-item a {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: black;

}

.btn {
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    min-width: 120px;
    max-height: 45px;
    padding: 0 20px;

}

.header-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-white {
    background: transparent;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.5);
}




.btn-orange {
    background-color: #FF6336;
    color: #ffffff;


}

.btn-main {
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    min-width: 160px;
    padding: 0 20px;
}

/*--main--*/
.accelerate-block {
    padding: 97px 0 147px 0;
}

.accelerate-title {
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 51px;

}

.text-block {

    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;

}

.small {

    font-size: 15px;
    line-height: 25px;


}

.accelerate-text {
    max-width: 471px;
    margin-bottom: 50px;

}

.accelerate-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 25px;

}

.accelerate-text-block {
    flex: 0 1 45%;
}

.accelerate-image-block {
    flex: 0 1 55%;

}

.img-position {
    width: 100%;
    object-fit: cover;

}

/*--brands section--*/
.brands-section {
    position: relative;
    background: #FF9C7D;
    padding: 98px 0 94px 0;
}
.brands-section::after{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    z-index: -1;
    content: "";
    bottom: 0;
    background: #ff9c7d;
}
.brand-img-block {
    display: flex;
    gap: 103px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.brand-title {
    max-width: 720px;
    margin: 0 auto 70px;
    text-align: center;

}

.block-about {
    padding: 100px 0 150px 0;
}

.title-block {
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    margin-bottom: 30px;

}

.block-item-about {
    flex: 0 1 50%;
    padding: 0 12% 0 0;
}

.block-item-about-text {
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;

}

.text-link {
    text-decoration: underline;
}

.block-item-img {
    flex: 0 0 50%;
}

.startnow-link {
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.direction-reverse {
    flex-direction: row-reverse;
}

.reverse-text-block {
    padding: 0 0 0 10.5%;

}

/*--what-you-lokalise*/
.what-you-lokalise {
    background: #FFF8E4;
    padding: 120px 0 93px 0;
}

.title-lokalise {
    margin-bottom: 58px;
    text-align: center;
}

.flex-row-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px;
}

.flex-row-cards-item {
    flex: 0 0 330px;
    margin-bottom: 57px;
}

.cards-item-img {
    max-width: 160px;
    margin: 0 auto;

}

.cards-item-title {
    margin: 26px 0 20px 0;
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;

}

.cards-item-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

}

/*---Boost-section----*/
.boost-section {
    padding: 154px 0 217px 0;
}

.title-boost {
    margin-bottom: 25px;
    text-align: left;
}

.boost-section-cards {
    align-items: flex-start;
}

.boost-section-card {
    flex: 0 0 33.33%;
    padding-right: 30px;
}

.boost-section-card-title {
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 34px;

}

.boost-section-card-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 25px;

}

.boost-section-card-img {
    height: 245px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/*--revolut--*/
.revolut {
    background-color: #C9E8F2;
    padding: 53px 0 105px 0;

}

.revolut-block-about {
    flex: 0 1 895px;
}

.revolut-block-img {
    flex: 0 0 auto;
}
.revolut-block-img img{
    width: 100%;
    object-fit: cover;
}

.revolut-block-about-text {
    font-family: 'GraphikLCG-Regular', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 23px;
}

.revolut-block-about cite {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.revolut-block-about-logo {
    max-width: 116px;
    margin-top: 7px;
}

/*---Captera---*/
.captera {
    background-color: #DABC98;
    padding: 69px 0 80px 0;
}

.captera-block {
    display: flex;
    flex-wrap: wrap;
}

.captera-block-about {
    justify-content: flex-start;
    flex: 0 1 809px;

}

.captera-block-about-title {
    flex: 0 1 461px;
    margin-left: 67px;
}


.captera-block-about-title-h3 {
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

.captera-block-about-img img {
    padding-top: 20px;

}

.captera-block-logos {
    flex: 0 0 481px;
    display: flex;
    justify-content: space-between;
    padding: 30px 62px 22px 70px;
    border-left: 1px solid #000000;
    margin: 10px 0 0;

}

.captera-block-logo-love-list-item h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.75px;
    text-align: left;

}

.captera-block-logo-love-list-item-logo {
    margin-bottom: 20px;
}

.captera-block-logo-love-list-item-stars {
    margin-bottom: 14px;
}

/*---integrate---*/
.integrate {
    padding: 169px 0 130px 0;
}

.integrate-block-about1 {
    max-width: 791px;
    margin: 0 auto;
}

.integrate-block-about2 {
    max-width: 539px;
    margin: 0 auto;

}

.integrate-block-title {
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;

}

.integrate-block-title2 {

    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

}

.integrate-block-text {
    margin-bottom: 20px;
}

.integrate-block-img {
    margin: 0 auto;
    max-width: 1023px;
}

.integrate-block-button {
    margin: 32px auto;
    max-width: 193px;
}

.integrate-block-button a {
    display: inline-block;
}

/*---section pre-foot--*/
.pre-foot {
    background: #ff9c7d;

    padding: 161px 210px;
}



.pre-foot-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 29px;
    margin-bottom: 54px;
}

.btn-black {
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
}

.pre-foot-button {
    max-width: 160px;
    margin: 0 auto;

}

/*----footer---*/
.footer {
    padding: 143px 0 48px 0;
    background-color: #EEEEEE;
}

.footer-block {
    display: flex;
    vertical-align: top;
    justify-content: space-between;
    gap: 70px;
    flex-wrap: wrap;
    border-bottom: 1px solid #000000;
    padding-bottom: 95px;
}

.footer-block-about {
    padding-right: 70px;
    flex: 0 0 370px;
}

.footer-block-about-title {
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 28px;
}

.footer-block-about-img {
    max-width: 300px;
    margin-bottom: 31px;
}
.footer-block-about-img img{
    width: 100%;
    object-fit: cover;
}
.footer-block-about-logo {
    margin-bottom: 11px;
    max-height: 80px;

}

.footer-block-about-text {
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
}

.footer-block2 {
    flex: 1 1 auto;

}

.footer-block2-nav {
    display: flex;
    vertical-align: top;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer-block2-nav-col {
    flex: 0 1 22%;
}

.footer-nav-block2-nav-title {
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin: 5px 0 21px 0;
}

.footer-nav-menu li {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;

}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 76px 0 0;
}

.footer-bottom-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 411px;
}

.footer-bottom-text {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
    
}
@media  screen and (min-width:769px) {
    .header-nav {
        margin-left: 51px;
        margin-right: auto;
    }
    .header-nav-list {
        gap: 42px;
    }
    
}

@media screen and (max-width: 768px) {

    .container {
       
        padding: 0 25px;
    }
    .flex-row{
        flex-direction: column;
               
    }
    .header-nav{
        display: flex;
        margin: none;
        
    }
    .header-nav-list{
        gap: 20px;
        flex-wrap: wrap;
        margin: 15px;
    }
    .accelerate-block, .brands-section,.block-about,.what-you-lokalise,
    .boost-section, .revolut, .captera,.integrate, .pre-foot{
        padding: 50px 0;
    }
    .accelerate-title, .title-block, .integrate-block-title,
    .captera-block-about-title-h3 {
        font-family: 'GraphikLCG-Semibold', sans-serif;
        font-size: 35px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;

    }
    .accelerate-buttons{
        flex-direction: column;
    }
    .brand-img-block {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .flex-row-cards-item{
            flex: 0 0 50%;
            margin-bottom: 35px;
    }
    .revolut-block-about {
        flex: 0 1 50%;
    }
    .revolut-block-about-text{
        font-size: 20px;
        line-height: 25px;
    }
    .captera-block{
        flex-direction: column;
    }
    .captera-block-logos {
        flex: 0 0 50%;
        align-items: flex-start;
        border-top: 1px solid #000000;
        border-left:none;
    }
    .captera-block-about{
        flex: 0 0 50%;
    }
    .captera-block-about-title{
        flex: 0 0 50%;
        margin-left: 0;
    }  
    .integrate-block-about2 {
        margin-top: 15px;  
    }
    .footer{
        padding-top: 50px;
    }
    .footer-block {
        flex-direction: column;
    }
    .footer-block-about{
        padding-right: 0;
        flex-basis: content;
    }
    .footer-block-about-img{
        max-width: 100%;
    }
    .footer-nav-menu li {
        font-size: 13px;
        line-height: 15px;
    }
    .footer-block2-nav-col {
        flex: 0 1 45%;
    }
    .footer-bottom-logo {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .footer-bottom {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 0 0;
    }

}
/*---------------*/
@media  screen and (max-width:425px) {
    .flex-row-cards{
        flex-direction: column;
        justify-content: center;
    }
    
}
